{% extends "baseLayout.html.twig"%}

{% block content %}
 <div class="banner__area section d-flex align-items-start justify-content-center">
     <div class="banner__wrap">
         <div class="banner__content text-white text-center">
           <h6 class="mb-4">Oxford Dictionary</h6>
           <p class="mb-4">
             The largest and most trusted free online dictionary for learners of British and American English
           </p>
           <div >
             <input class="form-control mr-sm-2 mb-2 banner__search" type="search" placeholder="Search" aria-label="Search">
             <button class="btn-special">Search</button>
           </div>
          </div>
     </div>
 </div>
{% endblock %}