{% extends "baseLayout.html.twig"%}

{% block content %}
 <div class="banner__area section d-flex align-items-start justify-content-center">
     <div class="banner__wrap">
         <div class="banner__content text-white text-center">
           <h6>Oxford Dictionary</h6>
           <p>
             The largest and most trusted free online dictionary for learners of British and American English
           </p>
           <div>
             <button class="btn-special">Try it</button>
           </div>
          </div>
     </div>
 </div>
{% endblock %}