{% extends 'base.html.twig' %}

{% block title %}Hello TagsCloudController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #chartdiv {
        width: 70%;
        height: 300px;
    }
</style>

<div class="example-wrapper">
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
            chart.fontFamily = "Courier New";
            var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
            series.randomness = 0.1;
            series.rotationThreshold = 0.5;

            series.data = [
                {% for search in searches %}
                {
                    "tag": "{{ search.word }}",
                    "count": "{{ search.count }}"
                },
                {% endfor %}
            ];

            series.dataFields.word = "tag";
            series.dataFields.value = "count";

            series.heatRules.push({
                "target": series.labels.template,
                "property": "fill",
                "min": am4core.color("#0000CC"),
                "max": am4core.color("#CC00CC"),
                "dataField": "value"
            });

            series.labels.template.url = "{{ uri() }}";
            series.labels.template.urlTarget = "_blank";
            series.labels.template.tooltipText = "{word}: {value}";

            var hoverState = series.labels.template.states.create("hover");
            hoverState.properties.fill = am4core.color("#FF0000");

            var subtitle = chart.titles.create();
            subtitle.text = "(click to open)";

            var title = chart.titles.create();
            title.text = "Most Popular Tags @ ODClient";
            title.fontSize = 20;
            title.fontWeight = "800";

        }); // end am4core.ready()
    </script>

    <!-- HTML -->
    <div id="chartdiv"></div>
</div>
{% endblock %}
