    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="/client/js/tagsCloud.js"></script>
    <script>
        series.data = [
            {% for search in searches %}
            {
                "tag": "{{ search.word }}",
                "count": "{{ search.count }}"
            },
            {% endfor %}
        ];

        series.labels.template.url = "{{ url('tags_cloud') }}"; //TODO: generate real path to search page
    </script>

    <div id="chartdiv"></div>

