<footer class="nav bg-dark navbar-dark ">
     <div class="footer__wrap text-white d-flex justify-content-center w-100 align-items-center">
         <h6 class="mb-0">All rights are reserved</h6>
     </div>
</footer>